
<div class="global">
	<div class="padre">
	  <div class="hijo">
	  		<h3>Laptops</h3>
			<a [routerLink]="['/productos/laptos']" [routerLinkActive]="['active']">
				<img src="../../assets/img/computers.jpg"><br>
				<button>Ver Laptos</button>
			</a>
	  </div>
	  <div class="hijo">
	  		<h3>Celulares</h3>
			<a [routerLink]="['/productos/phones']" [routerLinkActive]="['active']">
				<img src="../../assets/img/phones.jpg"><br>
				<button >Ver Celulares</button>
			</a>
	  </div>
	</div>
</div>
