<animation></animation>
<article class="about">
	<h2>Sobre mi</h2>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
	</p>

	<h2>Misión </h2>
	<p>
		Empresa de Servicio Dedicada a Satisfacer las.Necesidades de Soporte Tecnico y Mantenimiento,que el Cliente Requiera, elevando asi el rendimiento en sus equipos de computo de una,manera rapida y comoda, atraves del diagnostico.y supervision de nuestro personal.
	</p>
	<h2>Visión</h2>
	<p>
		Brindamos respuestas integrales para que nuestros clientes.Sean más competitivos y exitosos a través del desarrollo y optimización de su plataforma informática.
	</p>


</article>

