<div class="global">
	<div class="padre">
	  <div class="hijo">
	  		<h3>Crear laptops</h3>
	  		<a [routerLink]="['/crear/laptop']" [routerLinkActive]="['active']">
				<img src="../../assets/img/lenovo.jpg"><br>
				<button>Ver Laptos</button>
			</a>
	  </div>
	  <div class="hijo">
	  		<h3>Crear celulares</h3>
			<a [routerLink]="['/crear/phone']" [routerLinkActive]="['active']">
				<img src="../../assets/img/phone.jpg"><br>
				<button >Ver Celulares</button>
			</a>
	  </div>
	</div>
</div>
