
<div class="bedside contentVideo" >
  <div class="bedside-video">
    <video src="../../../assets/video/tecnologic.mp4#t=120" autoplay loop  [muted]="true" >
   
    </video>
  </div>
  <div class="bedside-overlay"></div>
  <div class="bedside-contentVideo">
    <h1>KitPC-PF Tecnología</h1>
    <p>Mantente actualizado. Suscríbete a nuestro boletín semanal.</p>
    <a href="#" class="btn">Subcribir</a>
  </div>
</div>




<!-- <video  autoplay controls muted loop preload>
    	 <source src="../../../assets/video/tecnologic.mp4#t=120"  type="video/mp4">
    </video> -->